:root {
    /* Css Variables:help store our css values so we can reuse them in other places within the code */
    --accent: #2d4a3e;
    --text-primary: #121212;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
}

h1,
h2,
.logo {
    font-family: 'Playfair Display', sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

header {
    background-color: rgba(255, 255, 255, 0.9);
    position: sticky;
    top: 0;
    z-index: 9999;
    border-bottom: 1px solid wheat;
}

.top-bar {
    background-color: var(--accent);
    text-align: center;
    padding: 8px;
    font-size: 12px;
    text-transform: uppercase;
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5%;
    margin: 0 auto;
}

.nav-links {
    display: none;
    gap: 1.5rem;
}

.nav-links a {
    color: var(--text-primary);
    font-weight: 400;
}

.logo {
    color: var(--text-primary);
    font-size: 40px;
}

.hero {
    background-color: rgba(0, 0, 0, 0.2);
    height: 80vh;
    background-image: url('/images/hero-image.jpg');
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.hero-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hero-content h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    line-height: 1.2;
}

.cta-btn {
    background-color: white;
    color: var(--text-primary);
    padding: 0.875rem 2rem;
    display: inline-block;
    margin-top: 2rem;
}

.cta-btn:hover {
    background-color: var(--accent);
    color: white;
}


.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 3rem 5%;
}

.filter-section {
    background-color: wheat;
    padding: 1rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 4px;
}

select {
    border: none;
    background: transparent;
    font-size: 0.9rem;
    cursor: pointer;
    color: var(--text-primary);
    outline: none;
}

/* desktop device */
@media (min-width:768px) {
    .nav-links {
        display: flex;
        gap: 2.5rem;
    }

    .hero-content h1 {
        font-size: 3rem;
        margin-bottom: 1rem;
        line-height: 1.2;
    }

    .filter-section {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

    }
}